
*{
    box-sizing: border-box;

}
img{
    max-width: 50%;
    max-height: 50%;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: lightcyan;
}
.nav button{
    background-color: #4CAF50;
  border: solid 2px black;
  color:black;
  padding:  15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  width: 125px;
 
}
.headline_bio{
    
}
.bio{
    border: solid 1px black;
    
}
.text_bio{
   
}
.headline_bio{
   
}
.projects{
    border: solid 1px black;
   
}
.project1_text{
   

}
.contact{
    border: solid 1px black;
   
}

body{
font-family: "Open Sans",
sans-serif;
text-align: center;
line-height: 1.5;
}

@media only screen and (min-width: 520px){
    div.nav{
        float: left;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width:250px;
        height: 100%;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    body{
        margin-left:250px;
    }
}