*{
    box-sizing: border-box;
}
div{
    border: solid 1px black;
}
.nav{
    background-color: #6b6c6e;
}
.headline_bio{
    background-color: #87888a;
}
.bio{
    background-color: #969799;
}
.projects{
    background-color: #b3b4b5;
}
.contact{
    background-color: #d4d5d6;
}
body{
font-family: "Open Sans",
sans-serif;
color: #444;
text-align: center;
line-height: 1.5;
}

@media only screen and (min-width: 520px){
    div.nav{
        float: left;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width:250px;
        height: 100%;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    body{
        margin-left:250px;
    }
}